.total {
display: flex;
justify-content: flex-end;
align-items: center;
padding: 0 1rem;
}

.total__title {
  color: #3a3a3a;
  font-size: 1.2rem;
  /* flex: 1; */
  margin: 0 1rem;
  color: white;
}

  .total__amount {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    /* background-color: #40005d;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 12px; */
  }

  @media (min-width: 580px) {
    .total__title{
      font-size: 1.4rem;
    }
  
    .total__amount {
      font-size: 1.4rem;
      padding: 0.5rem 1.5rem;
    }
  }


